@page "/fetchpasswords"
@using PasswordManagerClient.Services
@inject PasswordApiClient passwordApi
@using ApiReturnTypes
@using PasswordManagerClient.Elements

<PageTitle>Get All Passwords</PageTitle>

<h1>Passwords</h1>

@if (passwords == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Website</th>
                <th>Email</th>
                <th>Password</th>
                <th>Created on </th>
                <th>Last update</th>
                <th>Expiration date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var password in passwords)
            {
                <tr @onclick="() => SelectRow(password)"
                    >
                    <td>@password.associated_website</td>
                    <td>@password.associated_email</td>
                    <td>@password.password_value</td>
                    <td>@password.time_of_creation</td>
                    <td>@password.time_of_last_update</td>
                    <td>@password.expiration_date</td>
                </tr>
            }
        </tbody>
    </table>
}

<p>Selected Row: @selectedRow?.associated_email - @selectedRow?.password_value</p>

@code {

    private Password selectedRow;

    private void SelectRow(Password item)
    {
        selectedRow = item;
    }
}

@code {
    private List<Password>? passwords;

    protected override async Task OnInitializedAsync()
    {
        passwords = await passwordApi.GetPasswordsAsync();
    }
}

@*<button class="btn btn-primary" @onclick="AddPassword">Add</button>

@if (showForm)
{
    <AddForm />
}

@code {
    
    private bool showForm = false;
    private void AddPassword()
    {
        showForm = true;
    }
}


 <button class="btn btn-primary" @onclick="AddPassword">Add</button>

 @if (showForm)
 {
    <AddForm />
 }

 @code {

     private bool showForm = false;
     private void AddPassword()
     {
         showForm = true;
     }
 }*@

<AddPasswordModal @ref="modal" />

<Button class="btn btn-primary" @onclick="ShowModal">Add</Button>

@code {
    private AddPasswordModal modal;

    void ShowModal()
    {
        modal.Show();
    }
}



 <button class="btn btn-primary" @onclick="UpdatePassword">Update</button>

 @code {

     private void UpdatePassword()
     {
     }
 }

 <button class="btn btn-primary" @onclick="DeletePassword">Delete</button>
 @code {

     private void DeletePassword()
     {
     }
 }

