@page "/"
@page "/fetchpasswords"
@using PasswordManagerClient.Services
@inject PasswordApiClient passwordApi
@using ApiReturnTypes
@using PasswordManagerClient.Elements
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorBootstrap
@using System.Windows;
@inject IClipboardService ClipboardService
@inject ExpirationCalculator expirationCalculator

@code {

    public string SearchText = "";
    private Password? selectedRow;
    private bool IsCheckboxChecked = false;
    private void SelectRow(Password item)
    {
        selectedRow = item;
        DisplayPasswordOnRow();

    }
}

@code {
    private List<Password>? passwords;
    List<Password> tickedPasswords => passwords.Where(
    pass_elem => expirationCalculator.CalculateDaysUntilExpiration(pass_elem.time_of_last_update , DateTime.Now.Date.ToString("dd-MMM-yyyy"), pass_elem.months_until_expired).ToLower().Equals("expired")).ToList();
    List<Password> FilteredPasswords => passwords.Where(
    pass_elem => pass_elem.associated_email.ToLower().Contains(SearchText.ToLower()) ||
         pass_elem.associated_website.ToLower().Contains(SearchText.ToLower())
    ).ToList();
    List<Password> DoubleFilteredPasswords => tickedPasswords.Where(
    pass_elem => pass_elem.associated_email.ToLower().Contains(SearchText.ToLower()) ||
         pass_elem.associated_website.ToLower().Contains(SearchText.ToLower())
    ).ToList();
    protected override async Task OnInitializedAsync()
    {
        passwords = await passwordApi.GetPasswordsAsync();

    }
    }

<div class="top_of_the_table_row">
    <Button class="btn special_btn" @onclick="ShowAddModal"><Icon Name="IconName.PlusLg" Color="IconColor.Success" Size="IconSize.x5" /></Button>
    <input class="search_input"
           @bind-value="SearchText"
           @bind-value:event="oninput" 
           placeholder="Search..." />
    <label>
        <input class="show_only_expired_checkbox_and_label" type="checkbox" @bind="IsCheckboxChecked"/>
        Show only expired passwords
    </label>
</div>

@*Add password functionalitty*@
<AddPasswordModal @ref="addPasswordModal" Refresh=@Refresh/>


@code {
    private AddPasswordModal addPasswordModal;

    void ShowAddModal()
    {
        addPasswordModal.Show();
    }
}
@*End /// Add password functionalitty*@


@*Update password functionalitty*@

<UpdatePasswordModal @ref="updatePasswordModal" SelectedPassword="@selectedRow" Refresh=@Refresh />

@code {
    private UpdatePasswordModal updatePasswordModal;

    void ShowUpdateModal()
    {
        updatePasswordModal.Show();
    }
}
@*End /// Update password functionalitty*@

 @*Delete password functionalitty*@

<DeletePasswordModal @ref="deletePasswordModal" SelectedPassword="@selectedRow" Refresh=@Refresh />

@code {
    private DeletePasswordModal deletePasswordModal;

    void ShowDeleteModal()
    {
        deletePasswordModal.Show();
    }
}
@*End /// Delete password functionalitty*@

@code{
    async void Refresh()
    {
        passwords = await passwordApi.GetPasswordsAsync();
        StateHasChanged();
    }
}


@*Functionality for displaying passwords on mouseover the tablecell*@
@code{
    private bool canDisplayPassword = false;
    private string censoredText = "**************";
    private string displayedPassword = "**************";
    void DisplayPasswordOnRow()
    {
        canDisplayPassword = true;
    }

    void DisplayPasswotdInTableCell(EventArgs e, string pass_value)
    {
        if (canDisplayPassword)
        {
            displayedPassword = pass_value;
        }
        else
        {
            //do nothing
        }
    }
    void CensorPasswordValue()
    {
        displayedPassword = censoredText;
    }
}

@code{
    async void CopyPasswordToClipboard(string copied_pass)
    {
        await ClipboardService.CopyToClipboard(copied_pass);
    }
}

@code{
    void ResetSelectedRow()
    {
        selectedRow = null;
    }
}

@if (passwords == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <table class="table">
        <thead>
            <tr class ="table_header_row">
                <th class="column_with_btns" style="width: 42px;" ></th>
                <th class="column_with_btns" style="width: 42px;"></th>
                <th>Website</th>
                <th>Email</th>
                <th>Password</th>
                <th>Created on </th>
                <th>Last update</th>
                <th>Expires in</th>
                <th class="column_with_btns" style="width: 42px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var password in @IsCheckboxChecked ? DoubleFilteredPasswords : FilteredPasswords)
            {
                <tr class="table_row" @onmouseover="() => SelectRow(password)" @onmouseleave="ResetSelectedRow">
                    <td>
                        @if(password == selectedRow)
                        {
                            <Button class="btn special_btn" @onclick="ShowDeleteModal"><Icon Name="IconName.XLg" Color="IconColor.Danger" Size="IconSize.x5" /></Button>
                        }
                    </td>
                    <td>
                        @if (password == selectedRow)
                        {
                            <Button class="btn special_btn" @onclick="ShowUpdateModal"><Icon Name="IconName.ThreeDotsVertical" Color="IconColor.Muted" Size="IconSize.x5" /></Button>
                        }
                    </td>
                    <td>@password.associated_website</td>
                    <td>@password.associated_email</td>
                    <td @onmouseover="(e) => DisplayPasswotdInTableCell(e, password.password_value)" @onmouseout="CensorPasswordValue">
                        @if (@displayedPassword == @password.password_value)
                            @displayedPassword
                        else
                            @censoredText
                        </td>
                    <td>@password.time_of_creation</td>
                    <td>@password.time_of_last_update</td>
                    <td>
                        @expirationCalculator.CalculateDaysUntilExpiration(@password.time_of_last_update, DateTime.Now.Date.ToString("dd-MMM-yyyy"), @password.months_until_expired)
                    </td>
                    <td>
                        @if (password == selectedRow)
                        {
                            <Button class="btn special_btn" @onclick="() => CopyPasswordToClipboard(password.password_value)"><Icon Name="IconName.Copy" Color="IconColor.Muted" Size="IconSize.x5" /></Button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

}